@import '~antd/dist/antd.css';
@font-face {
  font-family: 'Adobe Clean Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Adobe Clean Regular');
  }

.App {
  text-align: center;
}

.container {
  width: 100%;
  align-self: center;
  margin: auto;
}
.main-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
} 
.registerCard-bg {
  position: absolute;
  margin-top: -83vh;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 40%;
  height: 80vh;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
}
.card-login {
  height: 87vh;
}
.card-title {
  font-size: 22px;
  font-family: "Adobe Clean Regular", sans-serif;
  color: #555555;
  font-weight: bold;
  margin-top: 20px;
}
.card-head {
  width: 100%;
  height: 18vh;
  background-color: #FFE283;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-head-logo {
  width: 130px;
}
.signup-form {
  width: 50%;
  margin-top: 25px;
  margin-left: 140px;
}
.card .ant-input::placeholder {
  color: #555555;
  font-family: "Adobe Clean Regular", sans-serif;
}
.card .site-form-item-icon {
  color: #000;
  font-weight: bold;
  padding-right: 7px;
}
.card .ant-input-affix-wrapper {
  border: 1px solid #707070;
  height: 40px;
}
.card .ant-btn-primary {
  background-color: #FDDC70;
  border-color: #FDDC70; 
  width: 280px;
  height: 40px;
  font-family: "Adobe Clean Regular", sans-serif;
}
.card .ant-btn-primary:hover {
  background-color: #FDDC70;
  border-color: #FDDC70; 
  width: 280px;
  height: 40px;
  font-family: "Adobe Clean Regular", sans-serif;
}
.card .ant-btn-primary:focus {
  background-color: #FDDC70;
  border-color: #FDDC70; 
  width: 280px;
  height: 40px;
  font-family: "Adobe Clean Regular", sans-serif;
}
.socialMedia {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-left: 170px;
  margin-top: 20px;
}
.socialMedia-imgBox {
  cursor: pointer;
}
.socialMedia-img {
  width: 50px;
}
.signup-back {
  height: 45px;
  margin-top: 35px;
}
.login-remember {
  padding-right: 37px;
  margin-left: -1px;
  color: #555555;
}
.login-remember-box {
  margin-top: -20px;
}
.login-form-forgot {
  color: #555555;
}
.login-form-forgot:hover {
  color: #555555;
}
.login-create {
  font-family: "Adobe Clean Regular", sans-serif;
  font-weight: bold;
  color: #F1C039;
  font-size: 16px;
}
/* Contact */
.contact-right-box {
  background-image: url(https://raw.githubusercontent.com/jennyhuoh/react-midterm/main/src/images/img-contactBg.png);
  width: 100%;
  height: 90vh;
  margin-top: 10vh;
}
.contact-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-left-box {
  width: 32rem;
  height: 30rem;
  margin-top: 60px;
}
.contact-left-title {
  font-family: "Adobe Clean Regular", sans-serif;
  font-size: 32px;
  letter-spacing: 4px;
}
.contact-left-information-box {
  width: 32rem;
  height: 21.5rem;
  border: #FDDC70 4px solid;
  border-radius: 15px;
  margin-top: 50px;
}
.contact-leftPhone-box{
  margin-top: 10px;
}
.contact-left-icon-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}
.contact-left-icon {
  width: 2rem;
}
.contact-left-p-box {
  display: flex;
  align-items: center;
  height: 100px;
}
.contact-left-p {
  font-family: "Adobe Clean Regular", sans-serif;
  font-size: 22px;
  letter-spacing: 2.5px;
  margin-left: 50px;
}
.contact-form {
  width: 75%;
  margin-left: 110px;
  margin-top: 60px;
}
.contact-form .ant-input-affix-wrapper {
  height: 100px;
  background-color: #FFE283;
  border: 3px solid #696969;
  border-radius: 15px;
}
.contact-form .ant-input-affix-wrapper:hover {
  border-color: #696969;
}
.contact-form .ant-input{
  background-color: #FFE283;
  color: #696969;
}
.contact-form .ant-input-affix-wrapper > input.ant-input:focus {
  background-color: #FFE283;
  color: #696969;
}
.contact-user-icon {
  width: 57px;
  padding-left: 15px;
}
.contact-mailR-icon {
  width: 54px;
  padding-left: 18px;
}
.contact-form .ant-input:placeholder-shown {
  color: #696969;
  font-size: 22px;
  font-family: "Adobe Clean Regular", sans-serif;
  padding-left: 20px;
}
.contact-form .ant-input::placeholder {
  color: #696969;
  font-size: 22px;
  font-family: "Adobe Clean Regular", sans-serif;
  padding-left: 20px;
}
.contact-form .ant-input {
  color: #696969;
  font-size: 22px;
  font-family: "Adobe Clean Regular", sans-serif;
}
textarea,textarea.ant-input:hover,textarea:focus{
  border: 3px solid #696969;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 15px;
}
textarea, textarea.ant-input {
  border: 3px solid #696969;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 15px;
}
.btn-send {
  background-image: url(https://raw.githubusercontent.com/jennyhuoh/react-midterm/main/src/images/btn-send.png);
  width: 520px;
  height: 80px;
  margin-top: 20px;
  background-size: 518px 78px;
  background-color: #FFE283;
  border-color: #FFE283;
  box-shadow: none;
  border-radius: 40px;
}
.btn-send:focus {
  background-color: #FFE283;
  border-color: #FFE283;
  box-shadow: none;
  background-image: url(https://raw.githubusercontent.com/jennyhuoh/react-midterm/main/src/images/btn-send.png);
  background-size: 518px 78px;
  border-radius: 40px;
}
.btn-send:hover {
  background-image: url(https://raw.githubusercontent.com/jennyhuoh/react-midterm/main/src/images/btn-send-hover.png);
  background-size: 518px 78px;
  background-color: #FFE283;
  border-color: #FFE283;
  box-shadow: none;
  border-radius: 40px;
}
/* Header */
.show-mobile {
  display: none;
}
.wantToLogout {
  cursor: pointer;
}
.cartimg {
  width: 8vh;
  align-items: center;
  margin-right: 3vh;
}
.accountimg {
  width: 8vh;
  align-items: center;
}

.headerBgc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ant-layout-header {
  background-color: #fff;
  width: 100vw;
  align-self: center;
}
.layout-header{
  height: 100px;
  
}
.layout-content {
  background-color: #fff;
}
.layout-footer {
  background-color: #FFE283;
  width: 100vw;
  height: 15vh;
}
.layout-footer-home {
  background-color: #fff;
  width: 100vw;
  height: 15vh;
}
.footerContent {
  font-size: 24px;
  font-family: "Adobe Clean Regular", sans-serif;
  color: #555555;
  letter-spacing: 2px;
  text-align: center;
  line-height: 5;
}
.logo {
  width: 12vh;
}
.headerMenu {
  width: 100vw;
}
.headerText {
  font-size: 30px;
  font-family: "Andale Mono", AndaleMono, monospace;
  color: #969696;
}
.headerTextHome {
  width: 16vh;
  padding-top: 20px;
}
.headerTextLink:hover .headerTextHome {
  padding-bottom: 20px;
  padding-left: 20px;
}
.headerTextBurger {
  width: 22vh;
  padding-top: 20px;
}
.headerTextLink:hover .headerTextBurger {
  padding-bottom: 20px;
  padding-left: 22px;
}
.headerTextContact {
  width: 22vh;
  padding-top: 20px;
}
.headerTextLink:hover .headerTextContact {
  padding-bottom: 20px;
  padding-left: 15px;
}
.headerItems :hover .headerText {
  color: #000000;
}
.headerItems {
  margin-left: 50px;
}
.headerTextBox {
  display: flex;
  justify-content: center;
}
.ant-menu-horizontal {
  border-bottom: transparent;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  border-bottom: transparent
}
.headerTextLink:hover .homeLine {
  width: 80px;
  height: 55px;
  border-bottom: 4px solid #FFE283;
  text-align: center;
  align-content: center;
  align-items: center;
}
.headerTextLink:active .homeLine {
  width: 80px;
  height: 55px;
  border-bottom: 4px solid #FFE283;
  text-align: center;
  align-content: center;
  align-items: center;
}
.headerTextLink:hover .burgerLine {
  width: 120px;
  height: 55px;
  border-bottom: 4px solid #FFE283;
  text-align: center;
  align-content: center;
  align-items: center;
}
.headerTextLink:hover .contactLine {
  width: 135px;
  height: 55px;
  border-bottom: 4px solid #FFE283;
  text-align: center;
  align-content: center;
  align-items: center;
}
h1.headerText {
  text-align: center;
}

/* Home */
.homeContent {
  background-color: #fff;
}
.sectionHome {
  height: 100vh;
}
.imgHome {
  width: 100vw;
  margin-top: 18vh;
}
.home-title {
  font-size: 42px;
  text-align: center;
  font-family: "Adobe Clean Regular", sans-serif;
  letter-spacing: 8px;
  line-height: 3;
}
.home-start-box {
  display: flex;
  justify-content: center;
}
.btnStart {
  width: 30vh;
}
.homeSec2Bg {
  background-image: url(https://raw.githubusercontent.com/jennyhuoh/react-midterm/main/src/images/img-homeBg2.png);
  padding-left: 5vh;
  padding-right: 5vh;
  background-size: contain;
}
.imgYellow {
  width: 100%;
  padding-top: 8vh;
}
.steps-mobile {
  display: none;
}
.btnstart-gray {
  margin-top: 20px;
  padding-bottom: 85px;
}

/* burger buns */
.burgerTitle {
  font-size: 28px;
  font-family: "Andale Mono", AndaleMono, monospace;
  color: #707070;
  margin-top: 140px;
  text-align: center;
}
.selectSection {
  margin-top: 2vh;
}
.posa {
  position: absolute;
}
.bunsBox {
  width: 50vw;
  align-items: center;
  text-align: center;
  align-content: center;
  margin-top: 7.5vh;
}
.bunBottom {
  margin-top: 36vh;
}
.select-classic-buns {
  align-items: center;
  text-align: center;
  width: 45vh;
}
.tomato {
  margin-top: 30vh;
}
.meat {
  margin-top: 27vh;
}
.cheese {
  margin-top: 23vh;
}
.vegetable {
  margin-top: 19vh;
}
.onion {
  margin-top: 15vh;
}
.totalPriceBox {
  width: 100%;
  margin-top: 55vh;
}
.totalPrice {
  font-family: "Adobe Clean Regular", sans-serif;
  color: #555555;
  font-size: 2.7vh;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;

}
.btn-checkout-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}
.btn-checkout {
  width: 210px;
}
.selectSection-selector {
  margin-top: 6vh;
  height: 90vh
}
.rightBox {
  background-color: #FFF9E6;
  height: 68vh;
  padding-left: 50px;
  width: 90%;
  overflow: auto;
  border-radius: 60px;
}
.rightBoxBun {
  padding-top: 30px;
}
.bun-title {
  font-size: 30px;
  font-family: "Andale Mono", AndaleMono, monospace;
  align-items: center;
}
.yellowDot {
  width: 20px;
  align-items: center;
}
.rightBoxBun-select {
  width: 31vh;
  margin-left: 34px;
}
.rightBoxMeat {
  margin-top: 40px;
}
.ant-radio-button-wrapper {
  width: 31vh;
  height: 6.7vh;
  font-family: "Adobe Clean Regular", sans-serif;
  color: #555555;
  font-size: 24px;
  letter-spacing: 2px;
  background-color: #E0E0E0;
  margin-top: 30px;
  text-align: center;
  line-height: 2;
  border-radius: 30px;
}
.ant-radio-button-wrapper:hover {
  color: #555555;
  background-color: #E0E0E0;
  border-color: #E0E0E0;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  margin-top: 30px;
  width: 31vh;
  height: 6.7vh;
  font-family: "Adobe Clean Regular", sans-serif;
  color: #555555;
  font-size: 24px;
  letter-spacing: 2px;
  background-color: #FFE283;
  border-color: #FFE283;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  margin-top: 30px;
  width: 31vh;
  height: 6.7vh;
  font-family: "Adobe Clean Regular", sans-serif;
  color: #555555;
  font-size: 24px;
  letter-spacing: 2px;
  background-color: #FFE283;
  border-color: #FFE283;
}
.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
  border-right-color: #FFE283;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: #FFE283;
}
.ant-radio-button-wrapper:not(:first-child)::before {
  background-color: #FFF9E6;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
  background-color: #FFF9E6;
}
.selectBurgerBun {
  margin-top: 30px;
  width: 31vh;
  height: 6.7vh;
  font-family: "Adobe Clean Regular", sans-serif;
  color: #555555;
  font-size: 24px;
  letter-spacing: 2px;
  background-color: #E0E0E0;
}
.ant-radio-button-wrapper:first-child {
  border-radius: 30px;
}
.ant-radio-button-wrapper:last-child {
  border-radius: 30px;
}
.lineBox {
  margin-top: 40px;
  align-items: center;
}
.line {
  margin-top: 5.6vh;
  width: 10px;
}
.selectPrice {
  font-family: "Adobe Clean Regular", sans-serif;
  color: #555555;
  font-size: 2.3vh;
  letter-spacing: 3px;
  margin-top: 5.8vh;
}
.lineBox2 {
  margin-top: 55px;
  align-items: center;
}
.rightBoxIngredients {
  padding-bottom: 60px;
}
.ingredients-items {
  display: flex;
}
.selectPrice-ingredients {
  margin-left: 40px;
}
.minusBg {
  margin-top: 45px;
  margin-left: 20px;
  background-color: #E0E0E0;
  width: 32px;
  height: 30px;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.minus {
  width: 40%;
  height: 10%;
  background-color: #707070;
  border-radius: 20px;
}
.ingredientNum {
  margin-top: 45px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  text-align: center;
  line-height: 2;
  border-color: #E0E0E0;
}
.plusBg {
  margin-top: 45px;
  width: 32px;
  height: 30px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  background-color: #E0E0E0;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.plus {
  width: 10%;
  height: 45%;
  background-color: #707070;
  border-radius: 20px;
  position: absolute;
  margin-top: 1px;
}
.iname_yellow {
  width: 31vh;
  height: 6.7vh;
  font-family: "Adobe Clean Regular", sans-serif;
  color: #555555;
  font-size: 24px;
  letter-spacing: 2px;
  background-color: #FFE283;
  border-radius: 30px;
  margin-top: 30px;
  text-align: center;
  margin-left: 34px;
  line-height: 2;
}
.iname_gray {
  width: 31vh;
  height: 6.7vh;
  font-family: "Adobe Clean Regular", sans-serif;
  color: #555555;
  font-size: 24px;
  letter-spacing: 2px;
  background-color: #E0E0E0;
  border-radius: 30px;
  margin-top: 30px;
  text-align: center;
  margin-left: 34px;
  line-height: 2;
}

/* cartFooter */
.cartFooter {
  background-color: #fff;
  text-align: center;
}
.startCheckOut {
  padding-bottom: 6vh;
  width: 34vh;
}
footer.ant-layout-footer {
  padding: 0;
}
/* cartList */
.cart-item-box {
  width: 100vw;
  margin-top: 5vh;
}
.cart-item-bgc {
  display: flex;
  width: 135vh;
  height: 18vh;
  background-color: rgba(255, 226, 131, 0.2);
  border-radius: 20px;
  margin-left: 12%;
  margin-top: 8vh;
}
.cart-burger {
  align-items: center;
  text-align: center;
  width: 10vh;
}
.cart-bunBottom {
  margin-top: 6.5vh;
}
.cart-meat {
  margin-top: 5.5vh;
}
.cart-cheese {
  margin-top: 4.5vh;
}
.cart-vegetable {
  margin-top: 3.5vh;
}
.cart-onion {
  margin-top: 2.5vh;
}
.cart-bunTop {
  margin-top: 1vh;
}
.cart-buns-type {
  width: 25vh;
  padding-left: 5vh;
  padding-top: 3vh;
}
.cart-dot {
  font-size: 6vh;
  padding-left: 1vh;
}
.cart-meat-type {
  width: 22vh;
  padding-left: 2vh;
  padding-top: 3vh;
}
.cart-burger-bgc {
  background-color: #fff;
  border: 5px solid #FFE283;
  border-radius: 50px;
  width: 13vh;
  height: 13vh;
  margin-left: 6vh;
  margin-top: 2.5vh;
}
.cart-posa {
  margin-left: 1vh;
}
.cart-item-description {
  display: flex;
  background-color: #fff;
  width: 55vh;
  height: 10vh;
  border-radius: 14px;
  margin-left: 6vh;
  margin-top: 4vh;
  font-family: "Adobe Clean Regular", sans-serif;
  color: #555555;
  font-size: 2.3vh;
  letter-spacing: 2px;
}
.cart-qty {
  height: 4vh;
  background-color: #fff;
  font-family: "Adobe Clean Regular", sans-serif;
  color: #555555;
  font-size: 2.3vh;
  margin-left: 11vh;
  width: 7vh;
  margin-top: 6.5vh;
  text-align: center;
  padding-top: 0.5vh;
  border-radius: 10px;
}
.cart-price {
  height: 4vh;
  width: 10vh;
  background-color: #fff;
  font-family: "Adobe Clean Regular", sans-serif;
  color: #555555;
  font-size: 2.3vh;
  letter-spacing: 2px;
  margin-left: 17vh;
  margin-top: 6.5vh;
  text-align: center;
  padding-top: 0.5vh;
  border-radius: 10px;
}
.cart-title {
  font-size: 4vh;
  font-family: "Andale Mono", AndaleMono, monospace;
  text-align: center;
  margin-top: 8vh;
  margin-bottom: -6vh;
}
.cart-title-description {
  margin-left: 60vh;
}
.cart-title-quantity {
  margin-left: 20vh;
}
.cart-title-price {
  margin-left: 8vh;
}
.cart-total-price {
  width: 148vh;
  padding-top: 32vh;
  font-family: "Adobe Clean Regular", sans-serif;
  color: #555555;
  font-size: 2.7vh;
  letter-spacing: 3px;
  display: flex;
  justify-content: flex-end;

}
.mobileLogo {
  display: none;
}
.mobileBuns {
  display: none;
}
.imgHomeTwo {
  display: none;
}
.badge {
  color: #fff;
  background-color: #fff;
  margin-top: 0.5vh;
}
.bunsBoxmobile {
  display: none;
}
.ant-badge-count {
  margin-right: 4vh;
  margin-top: 0.5vh;
  color: #fff;
  background-color: #E0E0E0;
}
@media (max-width: 375px) {
  .layout-header {
    width: 375px;
    padding: 0;
  }
  .container {
    width: 375px;
  }
  .header-right {
    margin-right: -30px;
  }
  .cartimg {
    width: 4vh;
    margin-right: 10px;
  } 
  .accountimg {
    width: 4vh; 
    margin-right: 25px; 
  }
  .logo {
    width: 8vh;
    /* margin-left: -200px; */
    margin-top: 14px;
    margin-right: 75px;
  }
  .headerBgc {
    justify-content: center;
  }
  .headerTextBox {
    display: none;
  }
  .footerContent {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .layout-footer-home {
    height: 70px;
  }
  .show-mobile {
    display: block;
  }
  .ham-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 18px;
    width: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin-right: 95px;
  }
  .ham-menu-open{
    width: 20px;
    height: 3px;
    background: #fff;
    z-index: 3;
  }
  .ham-menu-bar {
    width: 20px;
    height: 3px;
    background: #FFE283;
  }
  .hamBg {
    background-color: #FFE283;
    height: 100%;
    position: fixed;
    z-index: 2;
    width: 60%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  .hamBg-white {
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
  }
  .hamText {
    color: #555555;
    font-size: 14px;
    font-family: "Adobe Clean Regular", sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 140px;
    height: 45px;
    letter-spacing: 2px;
    margin-top: 18px;
  }
  .hamText a {
    text-decoration: none;
    color: #555555
  }
  /* Home */
  .btnStart {
    width: 150px;
    height: 40px;
    margin-top: 30px;
  }
  .home-title {
    font-size: 14px;
    letter-spacing: 2px;
    width: 150px;
    line-height: 20px;
    margin-top: 30px;
    margin-left: 30%;
  }
  .homeSec2Bg {
    background-image: url(https://raw.githubusercontent.com/jennyhuoh/react-midterm/main/src/images/img-homeBg2-mobile.png);
    background-position-x: -45px;
    background-size: auto;
    background-size: 450px 2000px;
    margin-top: 30px;
  }
  .steps {
    display: none;
  }
  .imgYellow {
    width: 90%;
    padding-left: 38px;
    padding-top: 6px;
  }
  .steps-mobile {
    display: block;
    padding-top: 55px;
  }
  .btnstart-gray {
    width: 155px;
    height: 35px;
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 45px;
  }
  .imgHome {
    display: none
  }
  .imgHomeTwo {
    display: block;
    margin-top: 100px;
  }
  .homeContent {
    width: 375px;
  }
  .homeText {
    font-size: 2px;
    letter-spacing: 1px;
    line-height: 8;
  }
  .sectionHome {
    height: auto;
  }
  .layout-footer {
    background-color: #fff;
  }
  .cart-item-description {
    display: none;
  }
  .cart-item-bgc {
    width: 350px;
    margin-left: 3.5%;
  }
  .cart-title-description {
    display: none;
  }
  .cart-burger-bgc {
    margin-left: 4%;
  }
  .cart-title-box {
    width: 375px;
  }
  .cart-qty {
    width: 50px;
    margin-left: 40px;
    font-size: 18px;
  }
  .cart-title {
    font-size: 16px;
    margin-right: 10px;
    font-size: 18px;
  }
  .cart-title-price {
    margin-left: 25px;
  }
  .cart-title-quantity {
    margin-left: 170px;
  }
  .cart-total-price {
    width: 375px;
  }
  .cart-price {
    width: 100px;
    margin-left: 20px;
  }
  .cart-total-price {
    padding: 10px;
    font-size: 18px;
  }
  .startCheckOut {
    width: 200px;
  }
  .ant-badge-count {
    margin-right: 11px;
  }
}